.social-network-list {
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    
}
.social-network-item:not(:last-child) {
    margin-right: 10px;
}
.social-network-link {
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 50%;
    transition-duration: 250ms;
&:hover .social-network,
&:focus .social-network {
    fill: var(--white--color);
}
&:hover,
&:focus {
    background-color:var(--accent-color);
}
}
.social-network {
    height: 20px;
    width: 20px;
    fill: var(--main--text--color);
}